{% extends 'common/base.html' %}
{% block title %}[글 보기]{% endblock title %}
{% block body %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="../../static/script.js" ></script>

<script>
  function showUpdateForm(param) {
    // location.href='update_reply?rid=' + param; 
    // let replyText = '{{ reply.reply_content }}'
    // let bNum = '{{board.id}}';
    // alert(replyText);
    // $.ajax({
    // url: '/board/'+'{{board.id}}'+'/update_reply/'+param+'/',
    // type: 'post',
    // headers: {'X-CSRFTOKEN':'{{csrf_token}}'},
    // data: {'id':bNum, 'rid':param, 'replyText' : replyText},
    // success: function() {
    //   alert('성공')
    // }
  // });
    $("#writeForm").hide();
    $("#updateForm").show();

    $.ajax({
      url: '{% url "board:update_reply" id=board.id %}',
      type: 'get',
      data: {'rid': param},
      success: function(res){
        console.log(res)
        // 폼요소.val() = 해당하는 폼 요소에 들어있는 값을 가져올 수 있다.
        // 폼요소.val(문자열) = 문자열을 해당 폼 요소에 지정할 수 있다.
        // 1. 수정 입력창에 댓글 내용 표시
        $("#replyTextUpdate").val(res.replyText);
        
        // 2. rid라는 id를 가진 hidden 태그에 값 설정
        $("#rid").val(param)

      }
    })
  }

  $(document).ready(function() {
    // 1. 수정 폼 숨기기
    $("#updateForm").hide()

    // 2. 댓글쓰기 버튼에 이벤트 달기
    $("#btnWrite").click(function() {
      // alert('여기는 write');
      if(validateReply()){
        writeReply();
      }
    });

    // 3. 수정하기 버튼에 이벤트 달기
    $("#btnUpdate").click(function() {
      // alert('ddd');
      updateReply();
    });

    loadReplyList();
  });

  function updateReply() {
    let replyText = $("#replyTextUpdate").val();
    let rid = $("#rid").val();

    console.log(replyText);
    let data = {
      'rid': rid,
      'replyText' : replyText
    }

    $.ajax({
      url: '{% url "board:update_reply" id=board.id %}',
      type: 'post',
      data: JSON.stringify(data),
      headers: { 'X-CSRFTOKEN' : '{{ csrf_token }}'},
      success: function(res) {
        // console.log(res)
        $("#replyTextUpdate").val("");
        $("#updateForm").hide();
        $("#writeForm").show();

        loadReplyList();
      }
    })
  }

 $(document).ready(function() {
  loadReplyList();
 }); 

  function writeReply() {
    // alert('여기는 writeReply입니다.')
    
    // 1. textArea에 쓴 
    let replyText = $("#replyTextWrite").val();
    let data = {'replyText':replyText}
    $.ajax({
      url: '{% url "board:write_reply" id=board.id %}',
      type: 'post',
      data: JSON.stringify(data),
      headers: {'X-CSRFTOKEN':' {{csrf_token}} '},
      success: function(result) {
        // console.log(result)
        // 댓글창 초기화
        $("#replyTextWrite").val("");
        loadReplyList();
      },
    });
  }
 
 function deleteReply(param){
  let data = {'rid':param};

  $.ajax({
    url: '{%url "board:delete_reply" id=board.id %}',
    type: 'post',
    data: JSON.stringify(data),
    headers: { 'X-CSRFTOKEN' : '{{ csrf_token }}'},
    success: function() {
      // 댓글 삭제가 완료되면 
      // 댓글 목록 다시 불러옴
      loadReplyList();
    }
  })

  // location.href='../{{board.id}}/delete_reply/' + data;
  // '<int:id>/delete_reply/<int:rid>/'
  // let rNum = data;
  // let bNum = '{{board.id}}'
  // alert(rNum);
  // alert(bNum);
  // replyText = document.getElementById('replyText').value()
  // $.ajax({
  //   url: 'delete_reply/'+rNum+'/',
  //   type: 'post',
  //   headers: {'X-CSRFTOKEN':'{{csrf_token}}'},
  //   data: {'id':bNum, 'rid':rNum, 'replyText':replyText},
  //   success: function(response) {
  //     loadReplyList();
  //   }
  // });
 }

  function loadReplyList() {
    // console.log('여기는 loadReplyList ');
      $.ajax({
        url: '{% url "board:load_reply" id=board.id %}',
        type: 'get',
        success: function(res) {
          let str = "<table>";
          $.each(res.replyList, function(index, item) {

            // inputDate에 있는 필요없는 문자열들을 삭제
            let replacedDate = item.inputDate.replace("T", " ").split(".")[0];
            str += "<tr>";
            str += "<td>" + item.replyText + "</td>";
            str += "<td>" + item.username + "</td>";
            str += "<td>" + replacedDate + "</td>";
            str += "<td>";
            if('{{user.username}}' === item.username ){
              str += "<a href = '#' onclick='showUpdateForm(" + item.id + ")'> 수정</a>";
              str += "<a href = '#' onclick='deleteReply(" + item.id + ")'> 삭제</a>";
            }
            str += "</td>";
            str += "</tr>";
          });
          str += "</table>";
          // HTML을 만들어서 한번에 넣으려면 html
            $("#replyList").html(str);
        }
      });
  }
</script>
    <br>
    <h1>#{{ board.id }}</h1>

    <table border="1">
      <tr>
        <th>제목</th>
        <td>{{ board.title }}</td>
      </tr>
      <tr>
        <th>글쓴이</th>
        <td>{{ board.author.username }}</td>
      </tr>
      <tr>
        <th>내용</th>
        <td>{{ board.content }}</td>
      </tr>
      <tr>
        <th>조회수</th>
        <td>{{ board.view_count }}</td>
      </tr>
      <tr>
        <th>날짜</th>
        <td>{{ board.input_date }}</td>
      </tr>
      {% if board.original_file_name %}
      <tr>
        <th>첨부파일</th>
        <td colspan="3">
          <!-- /board/0/download/ -->
          <a href="{% url 'board:download' id=board.id %}">{{ board.original_file_name }}</a>
        </td>
      </tr>
      {% endif %}
    </table>
    <br />
    <!-- 수정, 삭제 -->
    <!-- username끼리 비교하려면 아래처럼 -->
    <!-- { % if board.author == user % } board.author는 user하고 비교한다 -->
    {% if board.author.username == user.username %}
      <a href="{% url 'board:update' board.id %}">수정</a>&nbsp; 
      <a href="{% url 'board:delete' board.id %}" onclick="return confirm('정말 삭제하시겠습니까?')">삭제</a>&nbsp;
    {% endif %}
    <div id="replyArea">
      <!-- 댓글 모록 표시할 곳 -->
      <div id="replyList">
        
      </div>
      
      <!-- 댓글 입력 폼 -->
      <div id="replyForm">
        <div id="writeForm"> <!-- 글쓰기 폼 -->
          <textarea name="replyText" id="replyTextWrite" ></textarea>
          <input type="button" value="댓글쓰기" id="btnWrite" onsubmit="return validateReply();" >
        </div>
        <div id="updateForm">
          <input type="hidden" name = "rid" value="" id="rid">
          <textarea name="replyText" id="replyTextUpdate"></textarea>
          <input type="submit" value="댓글수정" id="btnUpdate">
        </div>
      </div>
    </div>
    <br />
    <a href="{% url 'board:index' %}">목록으로</a>
  {% endblock body %}
